{% extends 'base.html' %}
{% block content %}
<div class="container mt-4">
    <div class="col-md-10">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{% url 'income' %}">Income</a></li>
                <li class="breadcrumb-item active" aria-current="page">Add Income</li>
            </ol>
        </nav>
    </div>
    {% include 'partials/_messages.html' %}
        <div class="card">
            <div class="card-body">
            <form action="{% url 'add-income' %}" method="post">
            {% csrf_token %}
                <div class="form-group">
                    <label for="">Amount</label>
                    <input 
                    type="number"
                    class="form-control form-control-sm" 
                    name = "amount"
                    value="{{values.amount}}"/>
                </div>
                <div class="form-group">
                    <label for="">Description</label>
                    <input 
                    type="text" 
                    class="form-control form-control-sm" 
                    name = "description"
                    value="{{values.description}}"/>
                </div>
                <div class="form-group">
                    <label for="">Source of Income</label>
                    <select class="form-control form-control-sm" name="source" value="{{values.source}}">
                    {% for source in sources %}
                        <option name="source" 
                        value="{{source.name}}">{{source.name}}</option>
                    {% endfor %}
                    </select>
                </div>
                <div class="form-group">
                    <label for="">Date</label>
                    <input 
                    type="date" 
                    class="form-control form-control-sm" 
                    name = "income_date"
                    value="{{values.date}}"/>
                </div>
                <input type="submit" value="Save" class="btn btn-primary float-right"/>
                </form>
            </div>
        </div>
</div>
{% endblock %}